.DS_Store
__pycashe__
*.pyc
*/*.pyc
*/*/*.pyc
*/*/*/*.pyc
*.fits
*.pdf
.cache
*.html
notes_on_pytests.txt
True_steps_suffix_map.txt
assets
*.css
full_run_map.txt
cal_detector1_outputs_and_times.txt
*.pytest_cache
*/*.pytest_cache
*/*/*.pytest_cache
*/*/*/*.pytest_cache
/screenlog.0
/*/screen_output.txt
calspec2_screenout.txt
