# Config file used to specify which tests will be run and which
# files will be used for each of those tests.

# input file to start the pipeline
# working_directory = path of directory where all pipeline files will be written to
# data_directory = path of the directory where to find the test data
# True_steps_suffix_map = text file that will contain the pipeline steps set to True, corresponding suffix, and step completion
# input_file = name of file to be tested
[calwebb_spec2_input_file]
working_directory = /Users/pena/Documents/PyCharmProjects/nirspec/pipeline/src/pytests/calwebb_spec2_pytests/zzzz
#data_directory = /Users/pena/Documents/PyCharmProjects/nirspec/pipeline/build7/test_data/MOS_CV3/complete_pipeline_testset
data_directory = /Users/pena/Documents/PyCharmProjects/nirspec/pipeline/src/pytests/calwebb_spec2_pytests/zzzz
True_steps_suffix_map = True_steps_suffix_map.txt
input_file = jwtest1010001_01101_00001_NRS1_rate_short.fits

# Full path of where to find all ESA intermediary products to make comparisons for the tests and other reference files
[esa_intermediary_products]
esa_files_path = /Users/pena/Documents/PyCharmProjects/nirspec/pipeline/build7/test_data/ESA_intermediary_products/RegressionTestData_CV3_March2017_MOS
# if msa data is not used, the msa_conf_root variable is irrelevant and will not be read
msa_conf_root = /Users/pena/Documents/PyCharmProjects/nirspec/pipeline/build7/test_data/MOS_CV3/complete_pipeline_testset
dflatref_path = /grp/jwst/wit4/nirspec/CDP3/04_Flat_field/4.2_D_Flat/nirspec_dflat
sfile_path = /grp/jwst/wit4/nirspec/CDP3/04_Flat_field/4.3_S_Flat/MOS/nirspec_MOS_sflat
fflat_path = /grp/jwst/wit4/nirspec/CDP3/04_Flat_field/4.1_F_Flat/MOS/nirspec_MOS_fflat

# switch to run calwebb_spec2 in full
# If this option is set to True, the full path of the configuration file must be provided and
# this file has to contain an output file name for each step with the expected step suffixes (each
# suffix is added to the previous file name, e.g. bkg_subtract step; if a step is skipped so is the
# corresponding suffix):
#   bkg_subtract  -->  *_rate_subtract_images.fits
#   assign_wcs  -->  *_subtract_images_assign_wcs.fits
#   imprint_subtract  -->  *_imprint.fits
#   msa_flagging  -->  *_msa_flag.fits
#   extract_2d  -->  *_extract_2d.fits
#   flat_field  -->  *_flat_field.fits
#   straylight  -->  *_straylight.fits (MIRI)
#   fringe  -->  *_fringe.fits (MIRI)
#   pathloss  -->  *_pathloss.fits
#   barshadow  --> *_barshadow.fits
#   photom  -->  *_photom.fits
#   resample_spec  -->  *_resample_spec.fits
#   cube_build  -->  *_spec_cube_build.fits
#   extract_1d  -->  *_extract_1d.fits
[run_calwebb_spec2_in_full]
run_calwebb_spec2 = False
calwebb_spec2_cfg = /Users/pena/Documents/PyCharmProjects/nirspec/pipeline/build7/config_files/calwebb_spec2.cfg

# steps to run (the order in which they will be ran is set by the pytests)
# In order to skip a step set the value to False
[steps]
bkg_subtract = False
assign_wcs = True
imprint_subtract = False
msa_flagging = False
extract_2d = True
flat_field = True
pathloss = False
barshadow = False
photom = False
resample_spec = False
cube_build = False
extract_1d = False

# additional arguments needed for specific steps
[additional_arguments]
# background step
bkg_list = kk1.fits, kk2.fits
# imprint subtract step
msa_imprint_structure = imprint.fits
# extract 2d step
wcs_threshold_diff = 1.0e-14
save_wcs_plots = False
# flat field step
flattest_threshold_diff = 1.0e-14
save_flattest_plot = False
write_flattest_files = False
